{% extends "layout.html" %}

{% block content %}
  <!-- ======= About Us Section ======= -->
  <section></section>
   <section class="about" id="about">
    <div class="container" data-aos="fade-up">
     <div class="section-title">
      <h2>
       About Us
      </h2>
      <p>
       “Get Healthy, Feel Good, Look GREAT!” is the motto of Lehigh Valley Weight Loss, with offices in Allentown and Easton, Pennsylvania. They have helped more than 10,000 people improve their health and well-being, and are the largest medical and surgical weight loss program in the area.
      </p>
     </div>
     <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
       <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/about.jpg')}}"/>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
       <p>
         John Scaffidi, MD, FABOM, FACOG, and Maneesh Ailawadi, MD, FSSO, are pioneers in the field of bariatrics and were the first to perform outpatient bariatric surgery in the state of Pennsylvania. Lehigh Valley Weight Loss is also the area’s only weight loss center that offers both medical and surgical bariatrics. It’s a truly unique full service center that provides patients with all they need to get healthy, feel good and look great!
       </p>
       <p>
        As the chief of surgical bariatrics, Dr. Ailawadi runs the surgical bariatrics division, and as a board certified general surgeon and surgical oncologist he also offers many surgical procedures, including corrections for hernias, gall bladders, breast, colon, and most other cancers.
       </p>
      </div>
     </div>
    </div>
   </section>
  <!-- End About Us Section -->
{% endblock content %}
