{% extends "layout.html" %}

{% block content %}
  <!-- ======= Appointment Section ======= -->
  <section></section>
  <section class="appointment section-bg" id="appointment">
    <div class="container" data-aos="fade-up">
     <div class="section-title">
      <h2>
       Make an Appointment
      </h2>
      <p>
       Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
      </p>
     </div>
     <form action="forms/appointment.php" class="php-email-form" data-aos="fade-up" data-aos-delay="100" method="post" role="form">
      <div class="form-row">
       <div class="col-md-4 form-group">
        <input class="form-control" data-msg="Please enter at least 4 chars" data-rule="minlen:4" id="name" name="name" placeholder="Your Name" type="text"/>
        <div class="validate">
        </div>
       </div>
       <div class="col-md-4 form-group">
        <input class="form-control" data-msg="Please enter a valid email" data-rule="email" id="email" name="email" placeholder="Your Email" type="email"/>
        <div class="validate">
        </div>
       </div>
       <div class="col-md-4 form-group">
        <input class="form-control" data-msg="Please enter at least 4 chars" data-rule="minlen:4" id="phone" name="phone" placeholder="Your Phone" type="tel"/>
        <div class="validate">
        </div>
       </div>
      </div>
      <div class="form-row">
       <div class="col-md-4 form-group">
        <input class="form-control datepicker" data-msg="Please enter at least 4 chars" data-rule="minlen:4" id="date" name="date" placeholder="Appointment Date" type="datetime"/>
        <div class="validate">
        </div>
       </div>
       <div class="col-md-4 form-group">
        <select class="form-control" id="department" name="department">
         <option value="">
          Select Department
         </option>
         <option value="Department 1">
          Department 1
         </option>
         <option value="Department 2">
          Department 2
         </option>
         <option value="Department 3">
          Department 3
         </option>
        </select>
        <div class="validate">
        </div>
       </div>
      </div>
      <div class="form-group">
       <textarea class="form-control" name="message" placeholder="Message (Optional)" rows="5"></textarea>
       <div class="validate">
       </div>
      </div>
      <div class="mb-3">
       <div class="loading">
        Loading
       </div>
       <div class="error-message">
       </div>
       <div class="sent-message">
        Your appointment request has been sent successfully. Thank you!
       </div>
      </div>
      <div class="text-center">
       <button type="submit">
        Make an Appointment
       </button>
      </div>
     </form>
    </div>
  </section>
 <!-- End Appointment Section -->
{% endblock %}
