{% extends "layout.html" %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero">
     <div class="carousel slide carousel-fade" data-ride="carousel" id="heroCarousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators">
      </ol>
      <div class="carousel-inner" role="listbox">
       <!-- Slide 1 -->
       <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg)">
        <div class="container">
         <h2>
          Welcome to
          <span>
           Lehigh Valley Weight Loss
          </span>
         </h2>
         <p>
          At Lehigh Valley Weight Loss, we are commited to helping you along your weight loss journey.
         </p>
         <a class="btn-get-started scrollto" href="{{url_for('about')}}">
          Learn More
         </a>
        </div>
       </div>
    </section>
    <!-- End Hero -->
   <!-- ======= Featured Services Section (link to CMS) ======= -->
   <section class="featured-services" id="featured-services">
    <div class="section-title">
      <h2>
       Services
      </h2>
    </div>
    <div class="container" data-aos="fade-up">
     <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
       <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon">
         <i class="icofont-heart-beat">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          Lorem Ipsum
         </a>
        </h4>
        <p class="description">
         Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
        </p>
       </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
       <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon">
         <i class="icofont-drug">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          Sed ut perspiciatis
         </a>
        </h4>
        <p class="description">
         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
       </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
       <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon">
         <i class="icofont-thermometer-alt">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          Magni Dolores
         </a>
        </h4>
        <p class="description">
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        </p>
       </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
       <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon">
         <i class="icofont-dna-alt-1">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          Nemo Enim
         </a>
        </h4>
        <p class="description">
         At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        </p>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- End Featured Services Section -->
   <!-- ======= Cta Section ======= -->
   <section class="cta" id="cta">
    <div class="container" data-aos="zoom-in">
     <div class="text-center">
      <h3>
       In an emergency? Need help now?
      </h3>
      <p>
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a class="cta-btn scrollto" href="#appointment">
       Make an Make an Appointment
      </a>
     </div>
    </div>
   </section>
   <!-- End Cta Section -->
   <!-- ======= Counts Section ======= -->
   <section class="counts" id="counts">
    <div class="container" data-aos="fade-up">
     <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
       <div class="count-box">
        <i class="icofont-doctor-alt">
        </i>
        <span data-toggle="counter-up">
         85
        </span>
        <p>
         <strong>
          Doctors
         </strong>
         consequuntur quae qui deca rode
        </p>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
       <div class="count-box">
        <i class="icofont-patient-bed">
        </i>
        <span data-toggle="counter-up">
         18
        </span>
        <p>
         <strong>
          Departments
         </strong>
         adipisci atque cum quia aut numquam delectus
        </p>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
       <div class="count-box">
        <i class="icofont-laboratory">
        </i>
        <span data-toggle="counter-up">
         8
        </span>
        <p>
         <strong>
          Research Lab
         </strong>
         aut commodi quaerat. Aliquam ratione
        </p>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
       <div class="count-box">
        <i class="icofont-award">
        </i>
        <span data-toggle="counter-up">
         150
        </span>
        <p>
         <strong>
          Awards
         </strong>
         rerum asperiores dolor molestiae doloribu
        </p>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- End Counts Section -->

   <!-- ======= Doctors Section ======= -->
   <section class="doctors section-bg" id="providers">
    <div class="container" data-aos="fade-up">
     <div class="section-title">
      <h2>
       Providers
      </h2>
      <p>
       Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
      </p>
     </div>
     <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
       <div class="member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
         <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/doctors/doctors-1.jpg')}}"/>
         <div class="social">
          <a href="">
           <i class="icofont-twitter">
           </i>
          </a>
          <a href="">
           <i class="icofont-facebook">
           </i>
          </a>
          <a href="">
           <i class="icofont-instagram">
           </i>
          </a>
          <a href="">
           <i class="icofont-linkedin">
           </i>
          </a>
         </div>
        </div>
        <div class="member-info">
         <h4>
          Walter White
         </h4>
         <span>
          Chief Medical Officer
         </span>
        </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
       <div class="member" data-aos="fade-up" data-aos-delay="200">
        <div class="member-img">
         <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/doctors/doctors-2.jpg')}}"/>
         <div class="social">
          <a href="">
           <i class="icofont-twitter">
           </i>
          </a>
          <a href="">
           <i class="icofont-facebook">
           </i>
          </a>
          <a href="">
           <i class="icofont-instagram">
           </i>
          </a>
          <a href="">
           <i class="icofont-linkedin">
           </i>
          </a>
         </div>
        </div>
        <div class="member-info">
         <h4>
          Sarah Jhonson
         </h4>
         <span>
          Anesthesiologist
         </span>
        </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
       <div class="member" data-aos="fade-up" data-aos-delay="300">
        <div class="member-img">
         <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/doctors/doctors-3.jpg')}}"/>
         <div class="social">
          <a href="">
           <i class="icofont-twitter">
           </i>
          </a>
          <a href="">
           <i class="icofont-facebook">
           </i>
          </a>
          <a href="">
           <i class="icofont-instagram">
           </i>
          </a>
          <a href="">
           <i class="icofont-linkedin">
           </i>
          </a>
         </div>
        </div>
        <div class="member-info">
         <h4>
          William Anderson
         </h4>
         <span>
          Cardiology
         </span>
        </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
       <div class="member" data-aos="fade-up" data-aos-delay="400">
        <div class="member-img">
         <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/doctors/doctors-4.jpg')}}"/>
         <div class="social">
          <a href="">
           <i class="icofont-twitter">
           </i>
          </a>
          <a href="">
           <i class="icofont-facebook">
           </i>
          </a>
          <a href="">
           <i class="icofont-instagram">
           </i>
          </a>
          <a href="">
           <i class="icofont-linkedin">
           </i>
          </a>
         </div>
        </div>
        <div class="member-info">
         <h4>
          Amanda Jepson
         </h4>
         <span>
          Neurosurgeon
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- End Doctors Section -->
   <!-- ======= Gallery Section  (once you have the blog setup) =======
   <section class="gallery" id="gallery">
    <div class="container" data-aos="fade-up">
     <div class="section-title">
      <h2>
       Gallery
      </h2>
      <p>
       Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
      </p>
     </div>
     <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-1.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-1.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-2.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-2.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-3.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-3.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-4.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-4.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-5.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-5.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-6.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-6.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-7.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-7.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-8.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-8.jpg')}}"/>
      </a>
     </div>
    </div>
   </section>
   End Gallery Section -->
   <!-- ======= Frequently Asked Questioins Section ======= -->
   <section class="faq section-bg" id="faq">
    <div class="container" data-aos="fade-up">
     <div class="section-title">
      <h2>
       Frequently Asked Questioins
      </h2>
     </div>
     <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">
      <li>
       <a class="faquestion" data-toggle="collapse" href="#faq1">
        What is bariatric surgery?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse show" data-parent=".faq-list" id="faq1">
        <p>Bariatric surgery refers to the various types of surgical procedures used to promote weight loss. Common types of bariatric surgery include:
          <ul>
            <li>Gastric bypass</li>
            <li>Gastric Sleeve</li>
            <li>Duodenal Switch/ SIPS Procedure</li>
          </ul>
        </p>
        <p>
         The bariatric team at Lehigh Valley Weight Loss offer multiple types of bariatric surgery but most often use the laparoscopic gastric sleeve (LGS) procedure, which is the most effective and safest form of bariatric surgery. They were the first surgical team in the state of Pennsylvania to provide this advanced surgical procedure in the outpatient setting and can perform these procedures robotically if necessary.
        </p>
       </div>
      </li>
      <li>
       <a class="collapsed faquestion" data-toggle="collapse" href="#faq2">
        What is the laparoscopic gastric sleeve?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse" data-parent=".faq-list" id="faq2">
        <p>
         The laparoscopic gastric sleeve is a minimally invasive procedure that reduces the size of your stomach to limit the amount you can eat, making you feel full quicker and get hungry less.
        </p>
        <p>
          During the procedure, Dr. Ailawadi makes several small incisions in your abdomen. He then inserts a surgical camera, referred to as a laparoscope, through one of the incisions and his special surgical tools through the others. He then cuts away a portion of your stomach, creating a banana-like shape that goes from your esophagus to your small intestines, to limit the amount of food that can fit in your stomach.
        </p>
       </div>
      </li>
      <li>
       <a class="faquestion collapsed" data-toggle="collapse" href="#faq3">
        Am I a good candidate for bariatric surgery?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse" data-parent=".faq-list" id="faq3">
        <p>
         The team at Lehigh Valley Weight Loss works with you to determine if you’re a good candidate for bariatric surgery. To be considered you must have a:
         <ul>
           <li>Body mass index (BMI) of 40 or greater</li>
           <li>BMI between 35 and 39.9 with health conditions such as diabetes, hypertension, or sleep apnea</li>
         </ul>
        </p>
        <p>
          If you meet the basic criteria for bariatric surgery, the team then conducts a thorough evaluation to see if you would benefit from the procedure. However, even if you’re not a good candidate for bariatric surgery, Lehigh Valley Weight Loss offers a medical weight-loss program to help you drop those unwanted pounds.
        </p>
       </div>
      </li>
      <li>
       <a class="faquestion collapsed" data-toggle="collapse" href="#faq4">
        What can I expect during bariatric surgery treatment?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse" data-parent=".faq-list" id="faq4">
        <p>
         The bariatric specialists at Lehigh Valley Weight Loss offer more than just surgery. When you come for help with your weight, the team offers both medical and surgical help. The team is focused on making sure you create healthy habits that help you sustain your new weight, which has the added benefit of also helping those you love make better choices too.
        </p>
       </div>
      </li>
     </ul>
    </div>
   </section>
   <!-- End Frequently Asked Questioins Section -->
{% endblock %}
