{% extends "layout.html" %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero">
     <div class="carousel slide carousel-fade" data-ride="carousel" id="heroCarousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators">
      </ol>
      <div class="carousel-inner" role="listbox">
       <!-- Slide 1 -->
       <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg)">
        <div class="container">
         <h2>
          Welcome to
          <span>
           Lehigh Valley Weight Loss
          </span>
         </h2>
         <p>
          At Lehigh Valley Weight Loss, we are commited to helping you along your weight loss journey.
         </p>
         <a class="btn-get-started scrollto" href="{{url_for('about')}}">
          Read More
         </a>
        </div>
       </div>
    </section>
    <!-- End Hero -->
   <!-- ======= Featured Services Section (link to CMS) ======= -->
   <section class="featured-services" id="featured-services">
    <div class="section-title">
      <h2>
       Services
      </h2>
    </div>
    <div class="container" data-aos="fade-up">
     <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
       <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon">
         <i class="icofont-heart-beat">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          Lorem Ipsum
         </a>
        </h4>
        <p class="description">
         Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
        </p>
       </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
       <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon">
         <i class="icofont-drug">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          Sed ut perspiciatis
         </a>
        </h4>
        <p class="description">
         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </p>
       </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
       <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon">
         <i class="icofont-thermometer-alt">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          Magni Dolores
         </a>
        </h4>
        <p class="description">
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        </p>
       </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
       <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon">
         <i class="icofont-dna-alt-1">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          Nemo Enim
         </a>
        </h4>
        <p class="description">
         At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        </p>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- End Featured Services Section -->
   <!-- ======= Cta Section ======= -->
   <section class="cta" id="cta">
    <div class="container" data-aos="zoom-in">
     <div class="text-center">
      <h3>
       In an emergency? Need help now?
      </h3>
      <p>
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a class="cta-btn scrollto" href="#appointment">
       Make an Make an Appointment
      </a>
     </div>
    </div>
   </section>
   <!-- End Cta Section -->
   <!-- ======= Counts Section ======= -->
   <section class="counts" id="counts">
    <div class="container" data-aos="fade-up">
     <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
       <div class="count-box">
        <i class="icofont-doctor-alt">
        </i>
        <span data-toggle="counter-up">
         85
        </span>
        <p>
         <strong>
          Doctors
         </strong>
         consequuntur quae qui deca rode
        </p>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
       <div class="count-box">
        <i class="icofont-patient-bed">
        </i>
        <span data-toggle="counter-up">
         18
        </span>
        <p>
         <strong>
          Departments
         </strong>
         adipisci atque cum quia aut numquam delectus
        </p>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
       <div class="count-box">
        <i class="icofont-laboratory">
        </i>
        <span data-toggle="counter-up">
         8
        </span>
        <p>
         <strong>
          Research Lab
         </strong>
         aut commodi quaerat. Aliquam ratione
        </p>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
       <div class="count-box">
        <i class="icofont-award">
        </i>
        <span data-toggle="counter-up">
         150
        </span>
        <p>
         <strong>
          Awards
         </strong>
         rerum asperiores dolor molestiae doloribu
        </p>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- End Counts Section -->

   <!-- ======= Doctors Section ======= -->
   <section class="doctors section-bg" id="providers">
    <div class="container" data-aos="fade-up">
     <div class="section-title">
      <h2>
       Providers
      </h2>
      <p>
       Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
      </p>
     </div>
     <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
       <div class="member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
         <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/doctors/doctors-1.jpg')}}"/>
         <div class="social">
          <a href="">
           <i class="icofont-twitter">
           </i>
          </a>
          <a href="">
           <i class="icofont-facebook">
           </i>
          </a>
          <a href="">
           <i class="icofont-instagram">
           </i>
          </a>
          <a href="">
           <i class="icofont-linkedin">
           </i>
          </a>
         </div>
        </div>
        <div class="member-info">
         <h4>
          Walter White
         </h4>
         <span>
          Chief Medical Officer
         </span>
        </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
       <div class="member" data-aos="fade-up" data-aos-delay="200">
        <div class="member-img">
         <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/doctors/doctors-2.jpg')}}"/>
         <div class="social">
          <a href="">
           <i class="icofont-twitter">
           </i>
          </a>
          <a href="">
           <i class="icofont-facebook">
           </i>
          </a>
          <a href="">
           <i class="icofont-instagram">
           </i>
          </a>
          <a href="">
           <i class="icofont-linkedin">
           </i>
          </a>
         </div>
        </div>
        <div class="member-info">
         <h4>
          Sarah Jhonson
         </h4>
         <span>
          Anesthesiologist
         </span>
        </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
       <div class="member" data-aos="fade-up" data-aos-delay="300">
        <div class="member-img">
         <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/doctors/doctors-3.jpg')}}"/>
         <div class="social">
          <a href="">
           <i class="icofont-twitter">
           </i>
          </a>
          <a href="">
           <i class="icofont-facebook">
           </i>
          </a>
          <a href="">
           <i class="icofont-instagram">
           </i>
          </a>
          <a href="">
           <i class="icofont-linkedin">
           </i>
          </a>
         </div>
        </div>
        <div class="member-info">
         <h4>
          William Anderson
         </h4>
         <span>
          Cardiology
         </span>
        </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
       <div class="member" data-aos="fade-up" data-aos-delay="400">
        <div class="member-img">
         <img alt="" class="img-fluid" src="{{url_for('static', filename='assets/img/doctors/doctors-4.jpg')}}"/>
         <div class="social">
          <a href="">
           <i class="icofont-twitter">
           </i>
          </a>
          <a href="">
           <i class="icofont-facebook">
           </i>
          </a>
          <a href="">
           <i class="icofont-instagram">
           </i>
          </a>
          <a href="">
           <i class="icofont-linkedin">
           </i>
          </a>
         </div>
        </div>
        <div class="member-info">
         <h4>
          Amanda Jepson
         </h4>
         <span>
          Neurosurgeon
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- End Doctors Section -->
   <!-- ======= Gallery Section  (once you have the blog setup) =======
   <section class="gallery" id="gallery">
    <div class="container" data-aos="fade-up">
     <div class="section-title">
      <h2>
       Gallery
      </h2>
      <p>
       Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
      </p>
     </div>
     <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-1.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-1.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-2.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-2.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-3.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-3.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-4.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-4.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-5.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-5.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-6.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-6.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-7.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-7.jpg')}}"/>
      </a>
      <a class="venobox" data-gall="gallery-carousel" href="assets/img/gallery/gallery-8.jpg">
       <img alt="" src="{{url_for('static', filename='assets/img/gallery/gallery-8.jpg')}}"/>
      </a>
     </div>
    </div>
   </section>
   End Gallery Section -->
   <!-- ======= Frequently Asked Questioins Section ======= -->
   <section class="faq section-bg" id="faq">
    <div class="container" data-aos="fade-up">
     <div class="section-title">
      <h2>
       Frequently Asked Questioins
      </h2>
      <p>
       Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
      </p>
     </div>
     <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">
      <li>
       <a class="" data-toggle="collapse" href="#faq1">
        Non consectetur a erat nam at lectus urna duis?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse show" data-parent=".faq-list" id="faq1">
        <p>
         Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
        </p>
       </div>
      </li>
      <li>
       <a class="collapsed" data-toggle="collapse" href="#faq2">
        Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse" data-parent=".faq-list" id="faq2">
        <p>
         Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
        </p>
       </div>
      </li>
      <li>
       <a class="collapsed" data-toggle="collapse" href="#faq3">
        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse" data-parent=".faq-list" id="faq3">
        <p>
         Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
        </p>
       </div>
      </li>
      <li>
       <a class="collapsed" data-toggle="collapse" href="#faq4">
        Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse" data-parent=".faq-list" id="faq4">
        <p>
         Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
        </p>
       </div>
      </li>
      <li>
       <a class="collapsed" data-toggle="collapse" href="#faq5">
        Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse" data-parent=".faq-list" id="faq5">
        <p>
         Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
        </p>
       </div>
      </li>
      <li>
       <a class="collapsed" data-toggle="collapse" href="#faq6">
        Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor?
        <i class="icofont-simple-up">
        </i>
       </a>
       <div class="collapse" data-parent=".faq-list" id="faq6">
        <p>
         Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
        </p>
       </div>
      </li>
     </ul>
    </div>
   </section>
   <!-- End Frequently Asked Questioins Section -->
{% endblock %}
